
  :root{

	--white:#e9e9e9;
	--gray:#333;
	--bule:#0367a6;
	--lightblue:#008997;

	--button-radius:0.7rem;
	--max-width:758px;
	--max-height:580px;

	font-size:16px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}

body{
	align-items: center;
	background-color: var(--lightblue);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	height: 100vh;
	place-items: center;
}

.from_title{
	font-weight: 200px;
	margin: 0;
	margin-bottom: 1.25rem;
} 
 .link{
	color: var(--bule);
	font-size: 0.9rem;
	margin: 1.5rem 0;
	text-decoration: none;
}

 .container{
	background-color: var(--white);
	border-radius: var(--button-radius);
	box-shadow: 0 0.9rem 1.7rem rgba(0,0,0,0.25);
	height: var(--max-height);
	max-width: var(--max-width);
	transform: translateY(-50px);
	overflow: hidden;
	position: relative;
	width: 100%;
	
}
  .container_from1{
	  background-color: var(--white);
	  border-radius: var(--button-radius);
	  box-shadow: 0 0.9rem 1.7rem rgba(0,0,0,0.25);
	  height: 550px;
	  max-width: 400px;
	  transform: translateY(-50px);
	  overflow: hidden;
	  position: relative;
	  width: 100%;
  }
.container_from{
	height: 100%;
	position: absolute;
	top: 20px;
	transition: all 0.6s ease-in-out;
}

.container--signup{
	left: 1;
	opacity: 1;
	width: 50%;
	z-index: 2;
	
}

.container.right-panel-active .container--signup{
	transform: translateX(100%);
}

.container--signin{
	left: 0;
	opacity: 1;
	width:50%;
	z-index: 1;
}

.container.right-panel-active.container--signin{
	animation: show 0.6s;
	opacity: 0;
	transform: translateX(100%);
	z-index: 5;
} 

.container_overlay{
	height: 100%;
	left:50%;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: transform 0.6s ease-in-out;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active.container_overlay{
	transform: translateX(-100%);
}

.overlay{
	background-color: var(--lightblue);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover;
	height: 100%;
	left: -100%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 100%;
}

.container.right-panel-active.overlay{
	transform: translateX(100%);
}  

.overlay_panel{
	align-items: center;
	display: flex;
	flex-direction: column; 
	height: 100%;
	justify-content: center;
	position: absolute;
 	top: 0;
	text-align: center;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 100%;
}

.overlay--left{
	transform: translateX(0);
}

.container.right-panel-active .overlay--left{
	transform: translateX(-80%);
}

.overlay--right{
	right: 0;
	transform: translateX(80%);

}

.container.right-panel-active .overlay--right{
	transform: translateX(0);
}

.btn{
	background-color: var(--lightblue);
	background-image: linear-gradient(90deg.var(--blue) 0%,var(--lightblue) 74%);
	border-radius: 20px;
	color: var(--white);
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 2rem;
	text-transform: uppercase;
	transform: transform 80ms ease-in; 
	cursor: pointer;
	border: aliceblue;
}

.form>.btn{
	margin-top: 1.5rem;
}

.btn:active{
	transform: scale(0.95);
}
.btn:focus{
	outline: none;
}

.form{
	 background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 3rem;
	top=0;
	height: 100%;
	text-align: center;
	line-height: 5px;
	.info{
		font-size: 12px;
		padding-top: 2px;
		visibility: hidden;
		color: black;
	}
	.info2{
		width: 260px;
		align-items: left;
		position: relative;
			.btn1{
		        position: absolute;
		        top: 7.5px;
				line-height: 0;
				outline-width: 100%;
				width:160px;
				height: 45px;
				left: 50%;
				background-color: var(--lightblue);
				background-image: linear-gradient(90deg.var(--blue) 0%,var(--lightblue) 74%);
				border-radius: 20px;
				color: var(--white);
				cursor: pointer;
				font-size: 0.8rem;
				font-weight: bold;
				letter-spacing: 0.1rem;
				padding: 0.9rem 2rem;
				border: aliceblue;
		       }
			.info2>.btn1{
				margin-top: 1.5rem;
			}
			
			.btn1:active{
				transform: scale(0.95);
			}
			.btn1:focus{
				outline: none;
			}
	}
	position: relative;
	.email{
		position: absolute;
		margin-top: 70px;
		height: 45px;
		right: 35px;
		font-size: 16px;
		border-radius: 20px;
		border: none;
	}
}

.input{
	background-color: #fff;
	border: none;
	padding: 0.9rem 0.9rem;
	margin:0.5rem 0;
	width: 100%;
	border-radius: 20px;
}
.form>.input{
	margin-top: 1.5rem;
}

.input:active{
	transform: scale(0.95);
}
.input:focus{
	outline: none;
	+.info{
		visibility: visible;
	}
}
@keyframes show {
	0%
	49.99%{
		opacity: 0;
		z-index: 1;
	}
	50%
	100%{
		opacity: 1;
		z-index: 5;
	}
	
}
.danger{
	color: rgb(199,61,61) !important;
	visibility: visible !important;
}
.true{
	color:green !important;
	visibility: visible !important;
}
.input1{
	background-color: #fff;
	border: none;
	padding: 0.9rem 0.9rem;
	margin:0.5rem 0;
	width: 100%;
	border-radius: 20px;
}
.form>.input1{
	margin-top: 1.5rem;
}

.input1:active{
	transform: scale(0.95);
}
.input1:focus{
	outline: none;
	+.info{
		visibility: visible;
	}
}
.input2{
	background-color: #fff;
	border: none;
	padding: 0.9rem 0.9rem;
	margin:0.5rem 0;
	width: 100%;
	border-radius: 20px;
}
.form>.input2{
	margin-top: 1.5rem;
}

.input2:active{
	transform: scale(0.95);
}
.input2:focus{
	outline: none;
	+.info{
		visibility: visible;
	}
}
.input3{
	background-color: #fff;
	border: none;
	padding: 0.9rem 0.9rem;
	margin:0.5rem 0;
	width: 100%;
	border-radius: 20px;
}
.form>.input3{
	margin-top: 1.5rem;
}

.input3:active{
	transform: scale(0.95);
}
.input3:focus{
	outline: none;
	+.info{
		visibility: visible;
	}
}
.input4{
	background-color: #fff;
	border: none;
	padding: 0.9rem 0.9rem;
	margin:0.5rem 0;
	width: 100%;
	border-radius: 20px;
}
.form>.input4{
	margin-top: 1.5rem;
}

.input4:active{
	transform: scale(0.95);
}
.input4:focus{
	outline: none;
	+.info{
		visibility: visible;
	}
}
.inputa{
	background-color: #fff;
	border: none;
	padding: 0.9rem 0.9rem;
	margin:0.5rem 0;
	width: 100%;
	border-radius: 20px;
}
.form>.inputa{
	margin-top: 1.5rem;
}

.inputa:active{
	transform: scale(0.95);
}
.inputa:focus{
	outline: none;
	+.info{
		visibility: visible;
	}
}
.inputb{
	background-color: #fff;
	border: none;
	padding: 0.9rem 0.9rem;
	margin:0.5rem 0;
	width: 100%;
	border-radius: 20px;
}
.form>.inputb{
	margin-top: 1.5rem;
}

.inputb:active{
	transform: scale(0.95);
}
.inputb:focus{
	outline: none;
	+.info{
		visibility: visible;
	}
}
  .inputc{
	  background-color: #fff;
	  border: none;
	  padding: 0.9rem 0.9rem;
	  margin:0.5rem 0;
	  width: 100%;
	  border-radius: 20px;
  }
  .form>.inputc{
	  margin-top: 1.5rem;
  }

  .inputc:active{
	  transform: scale(0.95);
  }
  .inputc:focus{
	  outline: none;
	  +.info{
		  visibility: visible;
	  }
  }
  .inputj{
	  background-color: #fff;
	  border: none;
	  padding: 0.9rem 0.9rem;
	  margin:0.5rem 0;
	  width: 100%;
	  border-radius: 20px;
  }
  .form>.inputj{
	  margin-top: 1.5rem;
  }

  .inputj:active{
	  transform: scale(0.95);
  }
  .inputj:focus{
	  outline: none;
	  +.info{
		  visibility: visible;
	  }
  }
.btn2{
	background-color: var(--lightblue);
	background-image: linear-gradient(90deg.var(--blue) 0%,var(--lightblue) 74%);
	border-radius: 20px;
	color: var(--white);
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 2rem;
	text-transform: uppercase;
	transform: transform 80ms ease-in; 
	cursor: pointer;
}

.form>.btn2{
	margin-top: 1.5rem;
}

.btn2:active{
	transform: scale(0.95);
}
.btn2:focus{
	outline: none;
}
.btn4{
	background-color: var(--lightblue);
	background-image: linear-gradient(90deg.var(--blue) 0%,var(--lightblue) 74%);
	border-radius: 20px;
	color: var(--white);
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 2rem;
	text-transform: uppercase;
	transform: transform 80ms ease-in; 
	cursor: pointer;
	border: none;
}

.form>.btn4{
	margin-top: 1.5rem;
}

.btn4:active{
	transform: scale(0.95);
}
.btn4:focus{
	outline: none;
}
.btn5{
	background-color: var(--lightblue);
	background-image: linear-gradient(90deg.var(--blue) 0%,var(--lightblue) 74%);
	border-radius: 20px;
	color: var(--white);
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 2rem;
	text-transform: uppercase;
	transform: transform 80ms ease-in; 
	cursor: pointer;
	border: none;
}

.form>.btn5{
	margin-top: 1.5rem;
}

.btn5:active{
	transform: scale(0.95);
}
.btn5:focus{
	outline: none;
}
  .btn6{
	  background-color: var(--lightblue);
	  background-image: linear-gradient(90deg.var(--blue) 0%,var(--lightblue) 74%);
	  border-radius: 20px;
	  color: var(--white);
	  cursor: pointer;
	  font-size: 0.8rem;
	  font-weight: bold;
	  letter-spacing: 0.1rem;
	  padding: 0.9rem 2rem;
	  text-transform: uppercase;
	  transform: transform 80ms ease-in;
	  cursor: pointer;
	  border: none;
  }

  .form>.btn6{
	  margin-top: 1.5rem;
  }

  .btn6:active{
	  transform: scale(0.95);
  }
  .btn6:focus{
	  outline: none;
  }
  .modal {
	  display: none; /* 默认隐藏模态窗口 */
	  position: fixed; /* Stay in place */
	  z-index: 1; /* Sit on top */
	  left: 0;
	  top: 0;
	  width: 100%; /* Full width */
	  height: 100%; /* Full height */
	  overflow: auto; /* Enable scroll if needed */
	  background-color: rgb(0,0,0); /* Fallback color */
	  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	  border-radius: 20px;

  }

  .modal-content {
	  background-color: #fefefe;
	  margin: 15% auto;
	  left: 0;
	  padding: 20px;
	  border: 1px solid #888;
	  width: 40%;
	  border-radius: 20px;
	  transform: translateX(-50%);
  }

  .close {
	  color: #aaa;
	  float: right;
	  font-size: 28px;
	  font-weight: bold;
  }

  .close:hover,
  .close:focus {
	  color: black;
	  text-decoration: none;
	  cursor: pointer;
  }

  .input9{
	  background-color: #fff;
	  /*border: none;*/
	  padding: 0.9rem 0.9rem;
	  margin:0.5rem 0;
	  width: 80%;
	  border-radius: 20px;
  }
  .form>.input9{
	  margin-top: 1.5rem;
  }

  .input9:active{
	  transform: scale(0.95);
  }
  .input9:focus{
	  /*outline: none;*/
  }
